Authomatic==0.1.0.post1
Factory==1.2
Flask==0.10.1
Flask-Assets==0.9
Flask-DebugToolbar==0.9.0
Flask-Failsafe==0.2
Flask-Login==0.3.2
Flask-Migrate==1.2.0
Flask-OpenID==1.2.5
Flask-SQLAlchemy==1.0
Flask-Script==0.6.7
Flask-WTF==0.9.5
Jinja==1.2
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.23
SQLAlchemy==0.9.4
Tempita==0.5.2
WTForms==1.0.5
Werkzeug==0.9.4
alembic==0.6.5
argparse==1.2.1
blinker==1.4
click==6.2
coverage==3.7.1
decorator==4.0.6
docopt==0.4.0
duolingo-api==0.3
factory-boy==2.3.1
fake-factory==0.4.0
flake8==2.1.0
flask-wysiwyg==0.1
flaskage==0.3
ipython==1.2.1
ipython-genutils==0.1.0
itsdangerous==0.24
mandrill==1.0.57
mccabe==0.2.1
mock==1.0.1
nose==1.3.3
path.py==8.1.2
pbr==1.8.1
pep8==1.5.6
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pyflakes==0.8.1
python-editor==0.5
python-openid==2.2.5
requests==2.9.1
requirements==0.1
rethinkdb==2.2.0.post3
simplegeneric==0.8.1
six==1.10.0
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
traitlets==4.0.0
webassets==0.9
wsgiref==0.1.2
